<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KOPO HOTEL 위치</title>
  <style>
    body {
        background-size: cover;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }
    iframe {
        border: 0;
        width: 80%; /* iframe의 너비를 화면의 80%로 설정 */
        max-width: 800px; /* 최대 너비를 800px로 설정 */
        height: 450px; /* 고정 높이 설정 */
    }
  </style>
</head>
<body>
<h2>KOPO HOTEL 위치를 확인해서 오세요.</h2>

<iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.9990073502922!2d127.11875628301732!3d37.38560715727064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b580343616653%3A0xd7ebad971bbc0d02!2z7ZWc6rWt7Y-066as7YWN64yA7ZWZIOu2hOuLueycte2Vqeq4sOyIoOq1kOycoeybkA!5e0!3m2!1sko!2skr!4v1724915435964!5m2!1sko!2skr"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
</iframe>
</body>
</html>
